In [1]:
import psycopg2
import pandas as pd
from datetime import datetime, timedelta

exposures = psycopg2.connect('service=exposure')
department_id = 78503
start_date = (datetime.utcnow() - timedelta(days=30))

In [5]:
incidents = pd.read_sql_query(f'SELECT event_closed, incident_number FROM "Incidents" WHERE department_id = {department_id} AND event_closed > \'{start_date}\'', exposures)
incidents.drop_duplicates(subset ='incident_number', 
                     keep = False, inplace = True) 

incidents = incidents.set_index('event_closed')

incidents.sort_index(inplace=True)
incidents

                          incident_number
event_closed
2020-08-24 23:06:02+00:00       F20127780
2020-08-24 23:06:13+00:00       F20127782
2020-08-24 23:07:39+00:00       F20127760
2020-08-24 23:08:29+00:00       F20127771
2020-08-24 23:12:00+00:00       F20127775
...                                   ...
2020-09-22 21:22:40+00:00       F20144082
2020-09-22 21:33:41+00:00       F20144106
2020-09-22 21:33:54+00:00       F20144105
2020-09-22 21:35:18+00:00       F20144078
2020-09-22 21:41:37+00:00       F20144098

[15085 rows x 1 columns]

In [6]:
incidents.to_csv('./columbus_incidents.csv')